<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chicago Communities Homepage</title>
    <!-- <link rel="stylesheet" type="text/css" href="bootstrap"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootswatch.com/3/cerulean/bootstrap.min.css"/>
    
    
</head>
<body>   
    <div id="container">
        <div class="row">
            <div class="col-md-12">
                    <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                              <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">Home</a>
                              </div>
                          
                              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                <ul class="nav navbar-nav">
                                  <li><a href="/crime">Crime</a></li>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Chicago Communities <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                        <div class="row" style="width: 400px;">
                                            <ul class="list-unstyled col-md-3">
                                                <li><strong>Central</strong></li>  
                                                <li><a href="/dash/8">Near North Side</a></li>
                                                <li><a href="/dash/32">Loop</a></li>
                                                <li><a href="/dash/33">Near South Side</a></li>
                                                <li class="divider"></li>
                                                <li><strong>North Side</strong></li>
                                                <li><a href="/dash/5">North Center</a></li>
                                                <li><a href="/dash/6">Lake View</a></li>
                                                <li><a href="/dash/7">Lincoln Park</a></li>
                                                <li><a href="/dash/21">Avondale</a></li>
                                                <li><a href="/dash/22">Logan Square</a></li>
                                                <li class="divider"></li>
                                                <li><strong>Far North Side</strong></li>  
                                                <li><a href="/dash/1">Rogers Park</a></li>
                                                <li><a href="/dash/2">West Ridge</a></li>
                                                <li><a href="/dash/3">Uptown</a></li>
                                                <li><a href="/dash/4">Lincoln Square</a></li>
                                                <li><a href="/dash/9">Edison Park</a></li>
                                                <li><a href="/dash/10">Norwood Park</a></li>
                                                <li><a href="/dash/11">Jefferson Park</a></li>
                                                <li><a href="/dash/12">Forest Glen</a></li>
                                                <li><a href="/dash/13">North Park</a></li>
                                                <li><a href="/dash/14">Albany Park</a></li>
                                                <li><a href="/dash/76">O'Hare</a></li>
                                                <li><a href="/dash/77">Edgewater</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-3">
                                                <li><strong>Northwest Side</strong></li>  
                                                <li><a href="/dash/15">Portage Park</a></li>
                                                <li><a href="/dash/16">Irving Park</a></li>
                                                <li><a href="/dash/17">Dunning</a></li>
                                                <li><a href="/dash/18">Montclare</a></li>
                                                <li><a href="/dash/19">Belmont Cragin</a></li>
                                                <li><a href="/dash/20">Hermosa</a></li>
                                                <li class="divider"></li>
                                                <li><strong>West Side</strong></li>
                                                <li><a href="/dash/23">Humboldt Park</a></li>
                                                <li><a href="/dash/24">West Town</a></li>
                                                <li><a href="/dash/25">Austin</a></li>
                                                <li><a href="/dash/26">West Garfield Park</a></li>
                                                <li><a href="/dash/27">East Garfield Park</a></li>
                                                <li><a href="/dash/28">Near West Side</a></li>
                                                <li><a href="/dash/29">North Lawndale</a></li>
                                                <li><a href="/dash/30">South Lawndale</a></li>
                                                <li><a href="/dash/31">Lower West Side</a></li>
                                            </ul>
                                            <ul class="list-unstyled col-md-3">
                                                <li><strong>South Side</strong></li>  
                                                <li><a href="/dash/34">Armour Square</a></li>
                                                <li><a href="/dash/35">Douglas</a></li>
                                                <li><a href="/dash/36">Oakland</a></li>
                                                <li><a href="/dash/37">Fuller Park</a></li>
                                                <li><a href="/dash/38">Grand Boulevard</a></li>
                                                <li><a href="/dash/39">Kenwood</a></li>
                                                <li><a href="/dash/40">Washington Park</a></li>
                                                <li><a href="/dash/41">Hyde Park</a></li>
                                                <li><a href="/dash/42">Woodlawn</a></li>
                                                <li><a href="/dash/43">South Shore</a></li>
                                                <li><a href="/dash/60">Bridgeport</a></li>
                                                <li><a href="/dash/69">Greater Grand Crossing</a></li>
                                                <li class="divider"></li>
                                                <li><strong>Southwest Side</strong></li>  
                                                <li><a href="/dash/56">Garfield Ridge</a></li>
                                                <li><a href="/dash/57">Archer Heights</a></li>
                                                <li><a href="/dash/58">Brighton Park</a></li>
                                                <li><a href="/dash/59">McKinley Park</a></li>
                                                <li><a href="/dash/61">New City</a></li>
                                                <li><a href="/dash/62">West Elsdon</a></li>
                                                <li><a href="/dash/63">Gage Park</a></li>
                                                <li><a href="/dash/64">Clearing</a></li>
                                                <li><a href="/dash/65">West Lawn</a></li>
                                                <li><a href="/dash/66">Chicago Lawn</a></li>
                                                <li><a href="/dash/67">West Englewood</a></li>
                                                <li><a href="/dash/68">Englewood</a></li>
                                                </ul>
                                                <ul class="list-unstyled col-md-3">
                                                <li><strong>Far Southeast Side</strong></li>
                                                <li><a href="/dash/44">Chatham</a></li>
                                                <li><a href="/dash/45">Avalon Park</a></li>
                                                <li><a href="/dash/46">South Chicago</a></li>
                                                <li><a href="/dash/47">Burnside</a></li>
                                                <li><a href="/dash/48">Calumet Heights</a></li>
                                                <li><a href="/dash/49">Roseland</a></li>
                                                <li><a href="/dash/50">Pullman</a></li>
                                                <li><a href="/dash/51">South Deering</a></li>
                                                <li><a href="/dash/52">East Side</a></li>
                                                <li><a href="/dash/53">West Pullman</a></li>
                                                <li><a href="/dash/54">Riverdale</a></li>
                                                <li><a href="/dash/55">Hegewisch</a></li>
                                                <li class="divider"></li>
                                                <li><strong>Far Southwest Side</strong></li>  
                                                <li><a href="/dash/70">Ashburn</a></li>
                                                <li><a href="/dash/71">Auburn Gresham</a></li>
                                                <li><a href="/dash/72">Beverly</a></li>
                                                <li><a href="/dash/73">Washington Heights</a></li>
                                                <li><a href="/dash/74">Mount Greenwood</a></li>
                                                <li><a href="/dash/75">Morgan Park</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                              </li>
                            </ul>
                                <ul class="nav navbar-nav navbar-right">
                                  <li><a href="/about">About</a></li>
                                </ul>
                              </div>
                            </div>
                          </nav>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="row">
            <div class="col-md-12">
                <h2 align="center"><strong>2017 Crime by Volume</strong></h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-md-offset-3"> 
                <iframe align="center" width="700" height="500" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col2+from+1cZarTU05iZsi_Cv8vm6sGMN9g3NBmrqk3nXFdn_U&amp;viz=MAP&amp;h=false&amp;lat=41.84445865937022&amp;lng=-87.68055762583316&amp;t=1&amp;z=10&amp;l=col2&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>
            </div>
            
        </div> 

    </div>
</body>
</html>
  