<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chicago Communities Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="bootstrap stylesheet" href="style.css">
    
</head>
<body>   
    <div id="container" class="custom-container container">
        <div class="row">
            <div id="root">
                <h1 align="center"><strong>{{comm_dict.name}}</strong></h1>
            </div> 
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-6">
                    <div id="facts">
                        <h3><strong>Neighborhoods</strong></h3>
                        <li><strong>{{hood_dict.Neighborhoods}}</strong></li>

                    </div>
                </div>
                <div class="col-md-6">
                    <div id="crime">
                        <canvas id="polar-chart" width="800" height="450"></canvas>
                        <script>
                        new Chart(document.getElementById("polar-chart"), {
                        type: 'polarArea',
                        data: {
                        labels: ["Battery", "Deceptive Practice", "Homicide", "Narcotics", "Non Criminal", "Sexual", "Theft"],
                        datasets: [
                            {
                            label: "Crime Types",
                            backgroundColor: ["#3e95cd", "#8e5ea2","#4dffdb","#3cba9f","#e8c3b9","#c45850","#ffad33"],
                            data: [{{crime_dict.battery}},{{crime_dict.deceptive_practice}},{{crime_dict.homicide}},{{crime_dict.narcotics}},{{crime_dict.non_criminal}},{{crime_dict.sexual}},{{crime_dict.theft}}]
                            }
                        ]
                        },
                        options: {
                        title: {
                            display: true,
                            text: 'Community Crimes (2017)'
                        }
                        }
                    });
                        </script>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="population">
                        <canvas id="line-chart" max-width=350 max-height=350></canvas>
                        <script>
                        new Chart(document.getElementById("line-chart"), {
                                type: 'line',
                                data: {
                                  labels: ["1930","1940","1950","1960","1970","1980","1990","2000","2010","2015"],
                                  datasets: [{
                                    label: "Chicago Population (hundreds)",
                                    type: "line",
                                    borderColor: "#8e5ea2",
                                    data: [{{pop_dict.all_1930}}/100,{{pop_dict.all_1940}}/100,{{pop_dict.all_1950}}/100,{{pop_dict.all_1960}}/100,{{pop_dict.all_1970}}/100,{{pop_dict.all_1980}}/100,{{pop_dict.all_1990}}/100,{{pop_dict.all_2000}}/100,{{pop_dict.all_2010}}/100,{{pop_dict.all_2015}}/100],
                                    fill: false
                                    }, {
                                      label: "Community Population",
                                      type: "line",
                                      borderColor: "#3e95cd",
                                      data: [{{pop_dict._1930}},{{pop_dict._1940}},{{pop_dict._1950}},{{pop_dict._1960}},{{pop_dict._1970}},{{pop_dict._1980}},{{pop_dict._1990}},{{pop_dict._2000}},{{pop_dict._2010}},{{pop_dict._2015}}],
                                      fill: false  
                                    }
                                  ]
                                },
                                options: {
                                  title: {
                                    display: true,
                                    text: 'Population Change'
                                  },
                                  legend: { display: true }
                                }
                              });</script>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="demographics">
                        <canvas id="doughnut-chart" max-width=400  max-height=400></canvas>
                        <script>
                            new Chart(document.getElementById("doughnut-chart"), {
                            type: 'doughnut',
                            data: {
                            labels: ["Asian", "Black", "Hispanic", "Other", "White"],
                            datasets: [
                                {
                                label: "Community Demographics",
                                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                                data: [{{demo_dict.asian2015}},{{demo_dict.black2015}},{{demo_dict.hispanic2015}},{{demo_dict.other2015}},{{demo_dict.white2015}}]
                                }
                            ]
                            },
                            options: {
                            title: {
                                display: true,
                                text: 'Community Demographics (2015)'
                            }
                            }
                        });
                        </script>
                    </div>
                </div>
            </div>   
            <div class="col-md-2">
                <div id="twitter">
                    <a class="twitter-timeline" href="https://twitter.com/{{handle_dict.handle}}?ref_src=twsrc%5Etfw">Tweets by Community</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
        
    </div>
    <script type="text/javascript" src="../plots.js"></script>
</body>
</html>
  